<h2>
  Ticker Predictor
</h2>

<h3>
  Enter the number of mentions and choose a stock from the list. A prediction for the stock will be generated.
</h3>

<mat-form-field>
  <mat-label>Number of Mentions</mat-label>
  <input matInput type="number" id="mentions" [(ngModel)]="mentions">
</mat-form-field>

<br>

<mat-form-field appearance="fill">
  <mat-label>Choose..</mat-label>
  <mat-select [formControl]="selectedStockControl">
    <mat-option *ngFor="let stock of stocks" [value]="stock">
      {{stock}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h2 id="prediction">{{prediction}}</h2>